<div class="container-fluid">
  <label class="form-label">Search Product</label>
      <input type="text" style="width: 300px;" class="form-control" name="productsearch" placeholder="Enter Here..." [(ngModel)]="searchterm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Product Description</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let products of filterProducts | paginate: { itemsPerPage: 5, currentPage: p }">
        <td class="ids">{{products.id}}</td>
        <td>{{products.productname}}</td>
        <td>{{products.productdescription}}</td>
        <td>{{products.price}}</td>
        <td class="ids"><button (click)="onEdit(products)" data-bs-toggle="modal" data-bs-target="#update"
            class="btn btn-warning btn-sm">Edit</button> </td>
        <td class="ids"><button class="btn btn-danger btn-sm" (click)="onDelete(products)"> Delete</button></td>
      </tr>
    </tbody>
  </table>
  <div class=" d-flex justify-content-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <div class="modal fade" id="update">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Update Product</h2>
          <button class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="ProductDetails" autocomplete="off">
            <div class="mb-3">
              <label class="form-label">Product Name</label>
              <input type="text" class="form-control" name="productname" formControlName="productname">
            </div>
            <div class="mb-3">
              <label class="form-label">Product Description</label>
              <input type="text" class="form-control" name="productdescription" formControlName="productdescription">
            </div>
            <div class="mb-3">
              <label class="form-label">Price</label>
              <input type="text" class="form-control" name="price" formControlName="price">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-dismiss="modal" (click)="onUpdate()">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>